*~
*.swp
.DS_Store
*/.DS_Store
.ipynb_checkpoints/
set_environment.sh
__pycache__/*
*/__pycache__/*
**/__pycache__/*
plugins/operators/__pycache__/*
plugins/hooks/__pycache__/*
*airflow-logs/*
data/*
staging_files/*
plugins/operators/__pycache__*
scripts/test.sh
